:root {
  --color-dark: #0e0e0d;
  --color-light: #ffffff;
  --color-primary: #112033;
  --color-grey: rgb(255 255 255 / 0.1);

  --container-width: 1700px;
  --container-padding-x: 20px;

  --header-height: 90px;
  --section-padding-block: clamp(3.125rem, 2.75rem + 1.88vw, 5rem);
  --border-radius: 20px;

  --font-family-base: "Inter", sans-serif;
  --font-family-accent: "Anton", sans-serif;
}
