.cta {
  padding-block: var(--section-padding-block);
  text-align: center;

  &__image {
    max-width: 400px;
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
    margin-inline: auto;
    display: block;
    transform: translateY(-10%);
    z-index: -1;
    position: relative;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
