@import "@/styles/mixins";

.experience {
  padding-block: var(--section-padding-block);

  &__title {
    font-size: clamp(3.125rem, 2.5rem + 3.13vw, 6.25rem);
    color: var(--color-primary);
  }

  &__list {
    margin-top: 40px;
    border-top: 1px solid var(--color-grey);
  }

  &__item {
    border-bottom: 1px solid var(--color-grey);
    height: clamp(7rem, 5.9rem + 5.5vw, 12.5rem);
    @include flex-center;
    -moz-column-gap: 20px;
    column-gap: 20px;

    & > * {
      flex: 1;
    }
  }

  &__subtitle {
    text-transform: capitalize;
  }

  &__type {
    @media (max-width: 830px) {
      font-size: 14px;
      text-align: right;
    }
  }
}
